[submodule "tvl-emission/lib/quex-v1-interfaces"]
	path = tvl-emission/lib/quex-v1-interfaces
	url = https://github.com/quex-tech/quex-v1-interfaces
[submodule "tvl-emission/lib/openzeppelin-contracts"]
	path = tvl-emission/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "tvl-emission/lib/forge-std"]
	path = tvl-emission/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "openai-api-integration/lib/forge-std"]
	path = openai-api-integration/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "openai-api-integration/lib/openzeppelin-contracts"]
	path = openai-api-integration/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "openai-api-integration/lib/quex-v1-interfaces"]
	path = openai-api-integration/lib/quex-v1-interfaces
	url = https://github.com/quex-tech/quex-v1-interfaces
